/* .mantine-Carousel-slide {
  width: 100% !important;
  flex: 0 0 100% !important;
  overflow: hidden !important;
}


.mantine-Carousel-container {
  overflow: hidden !important;
}

.dnd-context {
  pointer-events: auto !important;
} */

/* .recognition-box {
  border: 2px dashed #aaa;
  background: #fff;
  transition: all 0.2s ease;
  cursor: pointer;
  cursor: pointer;
}

.recognition-box:hover {
  border-color: #1976d2 !important;
  background: #e3f2fd !important;
  color: #1976d2 !important;
} */