.root {
  padding: calc(var(--mantine-spacing-xl) * 1.5);
  padding: 0;
  margin: 0;
  background-color: 'transparent';
}

.value {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.navbar {
  height: rem(800px);
  width: rem(300px);
  padding: var(--mantine-spacing-md);
  display: flex;
  flex-direction: column;
  border-right: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.navbarMain {
  flex: 1;
}

.header {
  padding-bottom: var(--mantine-spacing-md);
  margin-bottom: calc(var(--mantine-spacing-md) * 1.5);
  border-bottom: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.footer {
  padding-top: var(--mantine-spacing-md);
  margin-top: var(--mantine-spacing-md);
  border-top: rem(1px) solid light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}

.link {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: var(--mantine-font-size-sm);
  color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-1));
  padding: var(--mantine-spacing-xs) var(--mantine-spacing-sm);
  border-radius: var(--mantine-radius-sm);
  font-weight: 500;

  &:hover {
    background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
    color: light-dark(var(--mantine-color-black), var(--mantine-color-white));

    .linkIcon {
      color: light-dark(var(--mantine-color-black), var(--mantine-color-white));
    }
  }
}

.link[data-active] {
  color: var(--mantine-color-blue-9);
  font-weight: 600;
}

.subLink[data-active] {
  color: var(--mantine-color-blue-8);
}

.subLink {
  padding-left: 30px !important;
}

.linkIcon {
  margin-right: var(--mantine-spacing-sm);

  &:active {
    color: light-dark(var(--mantine-color-red-6), var(--mantine-color-dark-2));
  }
}
  
.active {
  color: light-dark(var(--mantine-color-red-6), var(--mantine-color-dark-2));
}

.value {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}

.diff {
  line-height: 1;
  display: flex;
  align-items: center;
}

.icon {
  color: light-dark(var(--mantine-color-gray-4), var(--mantine-color-dark-3));
}

.title {
  font-weight: 700;
  text-transform: uppercase;
}

.progressSection {
  &:not(:first-of-type) {
    border-left: 3px solid light-dark(var(--mantine-color-white), var(--mantine-color-dark-7));
  }
}

@font-face {
  font-family: 'howdybun';
  src: url('/fonts/howdybun.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'sunday-shine';
  src: url('/fonts/sunday-shine.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'child-hood';
  src: url('/fonts/child-hood.otf') format('truetype');
  font-weight: 400;
  font-style: normal;
}